*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    /* margin:0; */
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   flex-shrink: 0;
}

.container{
    width:500px;
    height:500px;
    display: flex;
    /* flex-flow: row wrap; */
    border:2px solid black;
    flex-direction: column;
}
.item{
    width:100%;
    height:500px;
    display:flex;
    /* border:1px solid green; */
}
.box{
    width:100%;
    display:flex;
    /* border:1px solid red; */
    justify-content: center;
    align-items: center;
}
.container>.item-1>.box:nth-child(even){
    background-color: lightcoral;
}
.container>.item-2>.box:nth-child(odd){
    background-color: lightcoral;
}