
.box p{
    background-color: yellowgreen;
   padding: 20px;
   border:2px solid;
}
.content p{
    background-color: yellowgreen;
    border: 2px solid;
}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar{
    background-color: lightblue;
}
.header h2{
    background-color:yellowgreen ;
}
.container p{
    background-color:;
    border: 2px solid;
} 

.gallery{
    background-color: lightgray;
}
.item-1 span{
    background-color: skyblue;
    border-radius: 5px;  
}


    
