.box{
    background-color: black;
   
    display:flex;
    padding:100px;
    justify-content:space-evenly;
}
.bi{
    background-color: black;
    padding:10px;
    justify-content: end;
    display: flex;
    position: relative;
    margin-top: 0px;
}
.p{
    background-color: yellowgreen;
}
