.outer-box{
    width:200px;
    height:200px;
    border:2px solid green;
    
  
}
.inner-box{
    width:100px;
    height:100px;
    padding:20px;
    margin:20px;
    background-color: yellow;
    border:2px solid blue;
   
     
}
.card{
    width:300px;
    height:300px;
    border:2px solid black;
    padding:10px;
    position:relative;
    right:0px;
    
}
.icon{
    width:100px;
    height:100px;
    border:2px solid red;
    position:absolute;
    bottom:0px;
    right:0px;
}
.tooltip{
    width:200px;
    height:200px;
    border:2px solid aqua;
    padding:10px;
    position:relative;
    above:100px;
    left:100px;
}
.button{
    width:100px;
    height:50px;
    border:2px solid yellow;
    padding:15px;
    margin:15px;
    position:relative;
    top:100px;
    left:100px; 
}
.puspha2-container{
    width:170px;
    height:280px;
    border:2px solid black;
padding:10px;
    position:relative;
    above:100px;
    left:100px;
}
.badge{
    width:100px;
    height:100px;
    background-color: white;
    border:2px solid red;
padding:10px;
    position:absolute;
    top:0px;
    right:0px;
}
.image-container{
    width:170px;
    height:280px;
    border:2px solid black;
padding:10px;
    position:relative;
    above:100px;
    left:100px;
}
.overlay{
    width:170px;
    height:150px;
    background-color: green;
    border:2px solid red;
padding:10px;
    position:absolute;
    top:0px;
    right:0px;
}

 
