*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.grid-container{
    display: grid;
    height:100vh; 
     grid-template-columns: repeat(4,1fr);  
    background-color: gray;
    grid-template-areas: 
    'a b b c'
    'a d e f'
    'a g h f';
    gap:10px;
}   
.item{
   
    /* width:50vw;   */
    }
.item-1{
    grid-area:a;
   

}
.item-2{
    grid-area:b;

}

.item-3{
    grid-area:c;

}

.item-4{
    grid-area:d;

}

.item-5{
    grid-area:e;

}
.item-6{
    grid-area:f;
}
.item-7{
    grid-area:g;
}
.item-8{
    grid-area:h;
}


@media screen and (max-width : 900px){
    .grid-container{
        grid-template-columns : repeat( 2,1fr);
        grid-template-areas:
        'a b'
        'c d' 
        'e f'
        'g h';
    }
}
@media screen and (max-width : 500px){
    .grid-container{
        grid-template-columns : repeat( 1,1fr);
        grid-template-areas:
        'a'
        'b'
        'c'
        'd'
        'e'
        'f'
        'g'
        'h';
    }
}

.item{
  
     padding:10px;
     border: 2px solid black;
       
   
}
.item-1,.item-2,.item-6{
    background-color: green;
   }
   .item-3,.item-7,.item-5{
   background-color: red;
   }
   .item-8,.item-4{
    background-color:yellow;
    }
   