.fix-container{
    height:400px;
    
    background-color: brown;
    padding:10px;
    border:2px solid black;
    display:flex;
     justify-content: space-between;
    
}
.orange{
    background-color: orange;
    padding:10px;
    width:200px;
    height:100px;
    border:2px solid black;
}
.sub-container{
    padding:20px;
    border:2px solid rgb(67, 219, 25);
    flex-direction:row;
    display: flex;
    justify-content:space-between;
    height:100px;
    width:200px; 
      
}

.item1{
    width:60px;
    border:2px solid black;
    padding:10px;
    margin:5px;
    background-color: yellow;
}
 .item2{
    width:60px;
    border:2px solid black;
    padding:10px;
    margin:5px;
    background-color: green;
}
@media screen and (max-width : 800px) {
    .item2,.item1{
        display:none;
    }

    .sub-container{
        background-color: white;
    }
}