.fix-container{
    height:400px;
    
    background-color: brown;
    padding:50px;
    border:2px solid black;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
}
.orange{
    background-color: orange;
    padding:50px;
    width:400px;
    
    border:2px solid black;
}
.sub-container{
    padding:200px;
    border:0px solid black;
    flex-direction:row;
    display: flex;
    justify-content:end;
  
    
    
}
   
 .item1{
    width:200px;
    border:2px solid black;
    padding:50px;
    margin:10px;
    background-color: yellow;
}
 .item2{
    width:200px;
    border:2px solid black;
    padding:50px;
    margin:10px;
    background-color: green;
}
@media screen and(max-width : 800px) {
    .item2,{
        display: none;
    }
}
    .subcontainer{
        background-color: white;
    }
    
